@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User page</h2>
@*Cities section*@
<div>
    <p>Cities:</p>
    <ul data-bind="foreach: chosenCities()">
        @*<li data-bind="visible: isChecked">*@
        <li>
            <span data-bind="text: Name"></span>
        </li>
    </ul>
    <button data-bind="click: open">Edit</button>
@*Cities dialog*@
    <div id="dialog" data-bind="dialog: {autoOpen: false, title: 'Select cities' }, dialogVisible: isOpen">
        <ul data-bind="foreach: Cities">
            <li>
                <input type="checkbox" data-bind="checked: isChecked" />
                <span data-bind="text: Name"></span>
            </li>
        </ul>
        <button data-bind="click: save">OK</button>
    </div>
</div>
@*Filter date section*@
<div class="form-inline">
    <div class="form-group">
        <label class="control-label col-md-2" for="FromDate">From date</label>
        <div class="col-md-10">
            <input data-bind="value: startDate" class="form-control text-box single-line" data-val="true" data-val-date="The field From date must be a date." id="FromDate" name="FromDate" type="date" />
            <span class="field-validation-valid text-danger" data-valmsg-for="FromDate" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" for="ToDate">To date</label>
        <div class="col-md-10">
            <input data-bind="value: endDate" class="form-control text-box single-line" data-val="true" data-val-date="The field To date must be a date." id="ToDate" name="ToDate" type="date" />
            <span class="field-validation-valid text-danger" data-valmsg-for="ToDate" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button data-bind="click: save">OK</button>
        </div>
    </div>
</div>
@*Schedule section*@
<table class="table">
    <tr>
        <th>
            <span>From</span>
        </th>
        <th>
            <span>To</span>
        </th>
        <th>
            <span>Departure</span>
        </th>
        <th>
            <span>Arrival</span>
        </th>
        <th>
            <span>Company</span>
        </th>
        <th>
            <span>Comment</span>
        </th>
    </tr>
    <tbody data-bind="foreach: chosenSchedules()">
        <tr>
            <td>
                <span data-bind="text: From()"></span>
            </td>
            <td>
                <span data-bind="text: To()"></span>
            </td>
            <td>
                <span data-bind="text: moment(DepartureDT).format('L LTS')"></span>
            </td>
            <td>
                <span data-bind="text: moment(ArrivalDT).format('L LTS')"></span>
            </td>
            <td>
                <span data-bind="text: Company"></span>
            </td>
            <td>
                <span data-bind="text: Comment"></span>
            </td>
        </tr>
    </tbody>
</table>
@Scripts.Render("~/bundles/timetable")