@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@*Cities section*@
<div class="container">
    <h2>User page</h2>
    <h4>Cities</h4>
    <ul data-bind="foreach: chosenCities()">
        <li>
            <span data-bind="text: name"></span>
        </li>
    </ul>
    <button class="btn btn-default" data-bind="click: open">Select cities</button>

    @*Cities dialog*@
    <div id="dialog" data-bind="dialog: {autoOpen: false, title: dialogTitle}, template: { name: 'dialog-template', data: cities, 'if': cities}, dialogVisible: isOpen"></div>

    @*<template id="dialog-template">
        <div class="form-group">
            <ul data-bind="foreach: $data">
                <li>
                    <input type="checkbox" data-bind="checked: isChecked" />
                    <span data-bind="text: name"></span>
                </li>
            </ul>
        </div>
        <button class="btn btn-default" data-bind="click: $parent.save">Select</button>
    </template>*@

</div>
@*Filter date section*@
<br />
<div class="form-inline">
    <div class="form-group">
        <div id='startDatePicker' class='input-group date'>
            <input type='text' class="form-control" data-bind="dateTimePicker: startDate" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        <div id='endDatePicker' class='input-group date'>
            <input type='text' class="form-control" data-bind="dateTimePicker: endDate" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" data-bind="click: save">Apply</button>
        </span>
    </div>
</div>

@*Schedule section*@
<br />
<table class="table">
    <tr>
        <th>
            <span>From</span>
        </th>
        <th>
            <span>To</span>
        </th>
        <th>
            <span>Departure</span>
        </th>
        <th>
            <span>Arrival</span>
        </th>
        <th>
            <span>Company</span>
        </th>
        <th>
            <span>Comment</span>
        </th>
    </tr>
    <tbody data-bind="foreach: chosenSchedules()">
        <tr>
            <td>
                <span data-bind="text: from()"></span>
            </td>
            <td>
                <span data-bind="text: to()"></span>
            </td>
            <td>
                <span data-bind="text: departureDT"></span>
            </td>
            <td>
                <span data-bind="text: arrivalDT"></span>
            </td>
            <td>
                <span data-bind="text: company"></span>
            </td>
            <td>
                <span data-bind="text: comment"></span>
            </td>
        </tr>
    </tbody>
</table>
@Scripts.Render("~/bundles/date-formatting")
@Scripts.Render("~/bundles/dialog-handler")
@Scripts.Render("~/bundles/timetable")
